# Global project ignore files
#
# The files below are specific to this repository, and are typically generated
# through tooling. Patterns specific to a package should be added to a
# .gitignore file located within that package.
################################################################################

# BUILD SYSTEM FILES
# ------------------------------------------------------------------------------

### Bazel ###
/.bazelrc.user

# Symlinks created during a build. We actually disable these by default, but
# still include the paths in this file so that users do not accidentally add
# these paths to the index when manually overriding the default value for the
# option.
#
# Note that the pattern(s) below match the default symlink prefix. If
# `--symlink_prefix` is set, the prefix will change.
/bazel-*

# Explicity ignore bazel-out, as it is always created if symlinks are created,
# regardless of the value set for `--symlink_prefix`
/bazel-out

# LANGUAGE AND TOOLS
# ------------------------------------------------------------------------------

### Terraform ###

# This directory is created under any directory that `terraform init` is
# executed, and contains the required plugins and modules
**/.terraform/

# State files contain potentially sensitive information and should not be
# checked in. Users should be encouraged to use remote state where
# applicable.
*.tfstate
*.tfstate.*

# Generated terragrunt files contain potentially sensitive information such as
# account IDs and resource ARNs. These should be suffixed (before the file
# extension) with `.generated`, such that the final name is something like
# `versions.generated.tf`
*.generated.tf

# Ignore override files, as they are typically used to override resources
# locally and should not be checked in.
*_override.tf
*_override.tf.json
override.tf
override.tf.json

# Crash log
crash.log

# Ignore plan and tfplan files created via `terraform plan -out=<filename>`. The
# following names are common, however, users have the option to provide a
# filename of their choosing. Contributors and reviewers should take care to
# ensure plan output is not committed to the tree.
tfplan
plan
plan.out
plan.generated.out

### Golang ###

# Go module files
go.mod
go.sum

# Go vendor directory
/vendor/

### Rust ###

# Target directories generated by cargo/rustc
#
# for any package in the workspace root
/target
# for binary packages, e.g. at //<foo>
*/target/
# for tools, e.g. //tools/<foo>
tools/*/target/
# for experimental packages, e.g. at //experimental/<foo>
experimental/*/target/
# and for internal libraries, e.g. at //lib/rust/<foo>
lib/rust/*/target/
# and for third party packages, e.g. at //thirdparty/rust/<foo>
# useful when rebasing to a commit prior to an external program being added, or
# before its internal .gitignore contains the appropriate pattern, and after
# having built or run that target using the standard cargo toolchain (not bazel)
thirdparty/rust/*/target/

# Backup files generated by rustfmt
**/*.rs.bk

# Ignore Cargo.lock for internal libraries
lib/rust/**/Cargo.lock

# OS-specific ignore files
#
# The files below are specific to an operating system, and are largely generated
# in the background for various usages (e.g. temporary/swap files, trash
# volumes, etc.). They should not be checked in. If your OS generates files that
# are _not_ included below, feel free to update this list, but only if the
# generated files are common among users of your OS.
################################################################################

# Linux
# ------------------------------------------------------------------------------

# Temporary files
*~
*.swp

# KDE directory preferences
.directory

# Trash folder which may appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being
# accessed
.nfs*

# MacOS
# ------------------------------------------------------------------------------

# General
.AppleDouble
.DS_Store
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.fseventsd

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
.apdisk
Network Trash Folder
Temporary Items

# Windows
# ------------------------------------------------------------------------------

# Thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder configuration file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
